<h1>New Like</h1>

<form action="/create_like">
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <label for="post_id">post_id</label><br />
    <input id="post_id" name="post_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

